################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Harry Potter Spells/v16
/.vs/Harry Potter Spells/v15
